<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>High effective data research centre</title>
</head>
   <body>
      <div>
         <h3>Feeds as for now</h3>
         <ul>
         {%for feed in all_feeds%}
            <li>{{feed.feed_title}}</li>
         {%empty%}
            <li>No feeds yet</li>
         {%endfor%}
         </ul>
      </div>
   </body>
</html>
