/*Global Styles*/
input[type="text"], input[type="password"], input.text, input.title, textarea, select{margin:0;}
body{background:#03258C;font-family:"Helvetica Neue",Helvetica,Arial,Helvetica,sans-serif;}
a{color:#3079D9;text-decoration:none;border-bottom:1px solid #3079D9;}
a:hover{color:#03258C;text-decoration:none;border-bottom:1px solid #03258C;}
input[type="button"], input[type="submit"]{background:#F2D027;color:#000;}
.congrats{background:#88A61B;color:#000;}
#header{background:#FFF;height:70px;padding:4px;font-size:20px;}
#tabs{background:#3079D9;height:30px;color:#FFF;padding:4px;}
#content{background:#FFF;color:#484848;min-height:200px;padding:4px;}
#footer{border-top:2px solid #3079D9;padding:4px;height:30px;background:#FFF;font-size:20px;}